html,
body {
  height: 100%;
  width: 100%;
  background: #dedede; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#dedede, #e0dede, #f3f3f3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#dedede, #e0dede, #f3f3f3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#dedede, #e0dede, #f3f3f3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#dedede, #e0dede, #f3f3f3); /* Standard syntax */
}

.temp:hover {
  cursor: pointer;
}

li {
  list-style: none;
  font-size: 50px;
}

ul {
  padding-left: 0 !important;
}

p {
  margin-top: 30px;
  font-size: 68px;
  text-align: center;
  color: #65a0a7;
}

.city {
  color: #f0f8ff;  
}

.temp {
  color: #7bb4e6;
}