/*.container {
  margin-top: 7%;
}*/

body {
  background-color: #dedede;
}

.temp:hover {
  cursor: pointer;
}

li {
  list-style: none;
  font-size: 50px;
}

ul {
  padding-left: 0 !important;
}

p {
  font-size: 69px;
  text-align: center;
  color: #65a0a7;
}

.city {
  color: #f0f8ff;
}

.temp {
  color: #7bb4e6;
}